*{
    padding: 0;
    margin: 0;
}
header{
background-color:white;
color: black;
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}

.cabecalho-imagem{
     width: 30%;
     background-color: rgb(200, 200, 233);

}
.cabecalho-imagem{
    display: inline-block;
    margin: 0 44px;
    font-size: 44px;
}
.imagem-agrinhinho {
    width: 70%;

}
.cientistas-imagem{
    width: 70%;
}
.agrinho-div-conteudo{

    width: 100%;
}
.cor-de-fundo{

background-color:rgb(200, 200, 233);
}

.margem{
    margin: 18px;
}

.imagem-2{
    width: 80%;
}

